# IDE files
.idea/
**/.idea/
*.iml
.vscode/
**/.vscode/
*.swp
*.swo
*.sublime-*

# OS files
.DS_Store
**/.DS_Store
Thumbs.db

# Logs
*.log
logs/

# Docker volumes
docker-volumes/

configs/odoo/addons/odoo_initializer/__pycache__/
configs/odoo/addons/odoo_initializer/models/__pycache__/
configs/odoo/addons/odoo_initializer/utils/__pycache__/
configs/openelis/database/data/
